body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}


.container {
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2015/04/02/653105/09d95a6f0e5f6e6a79bcbc58aa1222ad-1000.jpg);
    background-repeat: no-repeat;
    font-family: Helvetica;
    height: 100%;
    background-size: cover; 
    background-position: center; 
}

h1 {
    color: rgba(9, 34, 117, 0.932);
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 1px 3px grey;
}


.bottom {
    
    margin: 30px auto;
    text-align: center;
    width: 200px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: rgba(75, 113, 238, 0.527);
    box-shadow: 0px 3px 3px rgba(9, 34, 117, 0.932);
    position: relative;
    bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    
}


.bottom:hover {
    background-color: rgba(9, 34, 117, 0.932);
    box-shadow: 0px 3px 3px rgba(9, 34, 117, 0.932);
    cursor: pointer;
}
.content, .clear {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  
}
.text {
    position: relative;
    bottom: 150px;
}
